/* #select-caller-receiver,#caller-dropdown,#receiver-dropdown{
    width:15%;
}
#time-slider,#duration-slider{
    width:20%
} */
#select-caller-receiver{
    width:50%;
}
#filters{
    display: flex;
    margin-bottom: 3%;
    height: 100%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
}

#draggable-filters{
    width: 83%;
    margin-left: 13%;
}
#plot-area{
    margin-left: 0%;
}
#draggable-plot-area{
    width:80%
}
#stats{
    margin-left: 2%;
}
#main-area{
    display: inline-flex;
    margin-left: 13%;
}
.Select {
    z-index: 1002;
}*/
.Select.is-open {
    z-index: 1003;
}

#draggable-filters{
    z-index:3000;
    position: relative;
}
.Select-menu-outer {
    z-index: 1010;
}

/*-----*/
.rc-slider-vertical {
  min-height: 110px;
  height: 100%;
}
#sidebar{
    display: block;
}
#sidebar >img:nth-child(1){
    margin-top: 10em;
    margin-left: 50%;
 

}
#reset-button{
    margin-top: 10em;
    margin-left: 50%;

}
#fix-button{
    background-color: white;
    margin-left: 50%;
    margin-top: 10em;

}

#upload-data{
    width: 100%;
    height: 60px;
    line-height: 60px;
    /* border-width: 1px;
    border-style: dashed;
    border-radius: 5px; */
    text-align: center;
    margin-bottom:12px;
    margin-top:10em;
    margin-left: 5%;
}
#collapse-filters{
    margin-top:10em;
    margin-left: 50%;
}
#header-text{
    margin-left: 10%;
    width: 80%;
}

#ml-filter{
    width: 5%;
    margin-left: 0%;
    margin-right: 0%;
}
#select-caller-receiver{
    width: 100%;

}
#ml-mode{
    margin-bottom: 2%;
}
#filters-user{
    margin-left: 0%;
}
#to-from-column{
    margin-left: 0%;
}
#filter-title